@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);


button:hover{
    cursor: pointer;
    background-color: green;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.head{
  color:red;
  font-family: 'Work Sans', sans-serif;
}
.quiz-container{
  font-family: 'Work Sans', sans-serif;
  position: relative;
  height: 260px;
  margin-top: 50px;
}
.togg{
  position: relative;
  height:100px;
  margin-top: 30px;
  align-items:  center;
}
.aler{
  position: relative;
  height:100px;
  margin-top: 0px;
  align-items:  center;

}
.question{
  margin: 20px;
}
@media only screen and (max-width: 600px) {
   .togg { margin-top: 200px;
           }
}


