{%block head%}
{%endblock%}
  	<img class="img-fluid" src="static/img/head1.PNG" alt="head" style="width:1350px;height:150px;">

<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mx-3" id="collapsibleNavbar">
    <ul class="navbar-nav ">
      <li class="nav-item mx-3">
        <div class="dropdown">
  	   <button class="btn btn-dark dropdown-toggle"
          			type="button" id="dropdownMenu1" data-toggle="dropdown"
          			aria-haspopup="true" aria-expanded="false">
    	      Hungama
  	    </button>
  	  <div class="dropdown-menu " aria-labelledby="dropdownMenu1">
    		<a class="dropdown-item "  href="#!">Doraemon</a>
    		<a class="dropdown-item"  href="#!">Shinchan</a>
        <a class="dropdown-item "  href="#!">Kochikame</a>
        <a class="dropdown-item"  href="#!">PowerRangers-SPD</a>
        <a class="dropdown-item "  href="#!">DragonBallZ</a>
        <a class="dropdown-item"  href="#!">Beyblade</a>
        <a class="dropdown-item "  href="#!">ShakaLakaBoomBoom</a>
        <a class="dropdown-item"  href="#!">Hero</a>
  	  </div>
	</div>
      </li>
      <li class="nav-item mx-3">
        <div class="dropdown">
  	   <button class="btn btn-dark dropdown-toggle"
          			type="button" id="dropdownMenu1" data-toggle="dropdown"
          			aria-haspopup="true" aria-expanded="false">
    	      Cartoon Network
  	    </button>
  	  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    		<a class="dropdown-item" href="#!">The PowerPuff Girls</a>
    		<a class="dropdown-item" href="#!">Ed,Edd and Eddy</a>
        <a class="dropdown-item" href="#!">Johnny Bravo</a>
        <a class="dropdown-item" href="#!">Courage The Cowardly Dog</a>
        <a class="dropdown-item" href="#!">Teen Titans </a>
        <a class="dropdown-item" href="#!">Ben10</a>
        <a class="dropdown-item" href="#!">Popeye The Sailor Man</a>
        <a class="dropdown-item" href="#!">Tom and Jerry</a>
        <a class="dropdown-item" href="#!">Scooby Doo</a>
  	  </div>
	</div>
      </li>
	<li class="nav-item mx-3">
        <div class="dropdown">
  	   <button class="btn btn-dark dropdown-toggle"
          			type="button" id="dropdownMenu1" data-toggle="dropdown"
          			aria-haspopup="true" aria-expanded="false">
    	      Disney
  	    </button>
  	  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" href="#!">Mickey Mouse</a>
    		<a class="dropdown-item" href="#!">Winnie The Pooh </a>
        <a class="dropdown-item" href="#!">Jungle Book</a>
        <a class="dropdown-item" href="#!">Beauty and the Beast</a>
    		<a class="dropdown-item" href="#!">Sleeping Beauty</a>
        <a class="dropdown-item" href="#!">The Lion King</a>
        <a class="dropdown-item" href="#!">Aladdin</a>
        <a class="dropdown-item" href="#!">Snow White</a>
        <a class="dropdown-item" href="#!">Aladdin</a>
        <a class="dropdown-item" href="#!">Pinocchio</a>
  	  </div>
	</div>
      </li>
	<li class="nav-item mx-3">
        <div class="dropdown">
  	   <button class="btn btn-dark dropdown-toggle"
          			type="button" id="dropdownMenu1" data-toggle="dropdown"
          			aria-haspopup="true" aria-expanded="false">
    	      Pogo
  	    </button>
  	  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    		<a class="dropdown-item" href="#!">Mr Bean</a>
    		<a class="dropdown-item" href="#!">Takeshi's Castle</a>
        <a class="dropdown-item" href="#!">Oswald</a>
        <a class="dropdown-item" href="#!">Pokemon</a>
        <a class="dropdown-item" href="#!">Chhota Bheem</a>
        <a class="dropdown-item" href="#!">Noddy</a>
        <a class="dropdown-item" href="#!">Bob The Builder</a>
        <a class="dropdown-item" href="#!">Shaktimaan</a>
        <a class="dropdown-item" href="#!">Baby Loony Toons</a>
  	  </div>
	</div>
      </li>
	<li class="nav-item mx-3">
        <div class="dropdown">
  	   <button class="btn btn-dark dropdown-toggle"
          			type="button" id="dropdownMenu1" data-toggle="dropdown"
          			aria-haspopup="true" aria-expanded="false">
    	      Indian Shows
  	    </button>
  	  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    		<a class="dropdown-item" href="#!">Vikram aur Betal</a>
    		<a class="dropdown-item" href="#!">Alif Laila</a>
        <a class="dropdown-item" href="#!">Hatimaan</a>
        <a class="dropdown-item" href="#!">Son Pari</a>
        <a class="dropdown-item" href="#!">Alif Laila</a>
        <a class="dropdown-item" href="#!">MahaBharat</a>
        <a class="dropdown-item" href="#!">Malgudi Days</a>
  	  </div>
	</div>
      </li>
	<li class="nav-item mx-3">
        <div class="dropdown">
  	   <button class="btn btn-dark dropdown-toggle"
          			type="button" id="dropdownMenu1" data-toggle="dropdown"
          			aria-haspopup="true" aria-expanded="false">
    	      American Shows
  	    </button>
  	  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    		<a class="dropdown-item" href="#!">Friends</a>
    		<a class="dropdown-item" href="#!">The Simpsons</a>
  	  </div>
	</div>
      </li>
	<li class="nav-item mx-3">
        <a href="/quiz"><button class="btn btn-dark">Quiz</button></a>
      </li>
	<li class="nav-item mx-3">
        <button class="btn btn-dark" href="#">Feedback</button>
      </li>
    </ul>
  </div>
</nav>
{%block body%}
{%endblock%}

{%block tail%}
{%endblock%}