{%extends 'nav.html' %}
{%block head%}
<!DOCTYPE html>
<html lang="en">
<head>
   <title>The 90's Show</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
{%endblock%}
{%block body%}
<div class="jumbotron mt-0">
  <h1 class="display-3 head text-center">Quiz</h1>
  <hr class="my-2">
  <div class="container">
  	<div class="shadow quiz-container  col-sm-12">
  		<div id="quiz"></div>
	</div>
   </div>
<div class="text-center container togg ">
<button type="button" id="previous" class="btn-info btn-lg">Previous Question</button>
<button type="button" id="next" class="btn-info btn-lg">Next Question</button>
<a href="#results"><button type="button" id="submit" class="btn-success btn-lg ">Submit Quiz</button></a>
<a href="/quiz"><button type="button" id="reset" class="btn-danger btn-lg ">Reset Quiz</button></a>
</div>
<div  class="alert alert-info container aler" role="alert">
	<h2>Result : </h2>
	<h3><div id="results"></div></h3>
</div>
</div>


{%endblock%}

{%block tail%}
<div class="container-fluid text-center align-bottom bg-secondary  p-4" >
  <p style="color:white" id="ha">We Appreciate your Feedback</p>
  <p style="color:white">&copy Shivansh Bhardwaj</p>
</div>

<script src="{{url_for('static', filename='quiz_scripta.js')}}"></script>

</body>
</html>
{%endblock%}
